.last_item {
  width: auto;
  height: auto;
  position: relative;
  height: 700px;
  background-color: white;

  .last_item_wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    .img_content {
      width: 50%;

      @media (max-width: 1320px) {
        display: none;
      }
    }

    .form_content {
      width: 50%;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .title_form{
        margin-bottom: 50px;

      }

      .title_form p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #0499dd;
        @media (max-width: 510px) {
          text-align: center;
        }
      }

      .form {
        display: flex;
        flex-direction: column;

        form {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          

          input{
            padding: 16px 25px;
            background: #FFFFFF;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            border: none;
            width: 235px;
            margin: 5px;

            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #000000;

            @media (max-width: 510px) {
              width: 200px;
            }

        }

        #country{
            background: url(./img/locate.svg);
            background-repeat: no-repeat;
            background-position: right 20px center ;
            width: 141%;
        } 

        input::-webkit-calendar-picker-indicator{
            display: none;
        }

        #date{
            background: url(./img/cal.svg);
            background-repeat: no-repeat;
            background-position: right 20px center ;
            width: 120%;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        #people{
            background: url(./img/peaple.svg);
            background-repeat: no-repeat;
            background-position: right 20px center ;
            width: 120%;
        }
        }
      }

      .btn{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .btn_other{
            button{
                margin: 12px 0px;
                padding-bottom: 20px;
                padding: 12px 43px;
                background: $blue_gradient;
                border-radius: 40px;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                color: #FFFFFF;
                text-decoration: none;
                transition: .5s ease all;
                border: none;
                cursor: pointer;
            }

            button:hover{
                transition: .5s ease all;
                background: linear-gradient(92.71deg, #0287c5 0%, #13928e 100%);
            }
        }

        .btn_like{
            border-radius: 50%;
            width: 35px;
            height: 35px;
            border: 2px solid #EDEDED;
            margin: 10px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #EDEDED;
            cursor: pointer;

            i{
                font-size: 20px;
                color: #d4d4d4;
            }
        }


        .btn_like:hover{
            
            border: 2px solid  #0499DD;
            background-color: white;
            
            i{
                font-size: 20px;
                color:  #0499DD;
            }
        }
    }
    }
  }
}
