<section class="aboutus">
  <div class="about_content">
    <div class="about_img"></div>
    <div class="about_content_info">
      <div class="title">
        <span>О нас</span>
      </div>
      <div class="text">
        <p>
          PeroTravel - Первый онлайн-сервис по бронированию экскурсий без
          очередей и операторов. Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
          ab illo inventore veritatis et quasi architecto beatae vitae dicta
          sunt explicabo.
        </p>
      </div>
    </div>
  </div>
</section>
