<section class="calendar">
    <div class="calendar_wrapper">
        <div class="image_content">
            <img src="./img/calendary.png" alt="img">
        </div>
        <div class="calendary_wrapper">
            <div id="month-calendar">
                <ul class="month">
                    <li class="prev"><i class="fas fa-angle-double-left"></i></li>
                    <li class="next"><i class="fas fa-angle-double-right"></i></li>
                    <li class="data">
                        <div class="month-name"></div>
                        <div class="year-name"></div>
                    </li>

                </ul>
                <ul class="weekdays">
                    <li>Пн</li>
                    <li>Вт</li>
                    <li>Ср</li>
                    <li>Чт</li>
                    <li>Пт</li>
                    <li>Сб</li>
                    <li>Вс</li>
                </ul>
                <ul class="days">
                </ul>
            </div>
        </div>
    </div>
</section>