<section class="catalog">
    <div class="catalog_content">
        <div class="title">
            <ul>
                <li class="current active"><a href="#">АВТОБУСНЫЙ ТУР</a></li>
                <li class="current"><a href="#">ДЖИППИНГ</a></li>
                <li class="current"><a href="#">ЯХТИНГ</a></li>
                <li class="current"><a href="#">КАНЬОНИНГ</a></li>
            </ul>
            <div class="form">
                <form action="" class="data">
                    <input id="country" type="search" value="Абхазия">
                    <input id="date" type="date" value="">
                    <input id="people" type="text" value="5">
                </form>
                <button>Показать</button>
            </div>
        </div>
        <div class="catalog_content">
            <div class="sort">
                <div class="title_sort">
                    <span>Фильтры</span>
                </div>
                <div class="price_sort">
                    <div class="title_price_sort">
                        <span id="price_btn">Стоимость</span>
                        <i id="price_plus_sort" class="fas fa-minus"></i>
                    </div>
                    <div class="price_sort_content">
                        <input id="lower" type="number" value="1400">
                        <input id="upper" type="number" value="4000">

                        <div id="slider"></div>
                        <hr />
                    </div>
                </div>

                <div class="count_sort">
                    <div class="title_count_sort">
                        <span id="count_btn">Количество человек</span>
                        <i id="count_plus_sort" class="fas fa-minus"></i>
                    </div>
                    <div class="count_sort_content">
                        <a href="#">1 чел.</a>
                        <a href="#">2 чел.</a>
                        <a href="#">3 чел.</a>
                        <a href="#">4 чел.</a>
                        <a href="#">5 чел.</a>
                        <a href="#">6 чел.</a>
                        <a href="#">7 чел.</a>
                        <a href="#">8 чел.</a>
                        <a href="#">9 чел.</a>
                        <a href="#">10 чел.</a>
                        <a href="#">Больше 10 чел.</a>
                        <hr />
                    </div>
                </div>
            </div>
            <div class="excurses">

            </div>
        </div>
    </div>
</section>