<section class="contact">
  <div class="contact_content">
    <div class="contact_form">
      <div class="title">
        <span class="main"> Остались вопросы? </span>
        <span class="other"> Оставь заявку и мы ответим </span>
      </div>
      <form action="">
        <input type="text" name="name" placeholder="Имя" />
        <input id="tel" type="tel" name="tel" placeholder="Телефон" />
        <input id="mail" type="mail" name="mail" placeholder="Почта" />
      </form>
      <div class="btn">
        <button>Оставить заявку</button>
      </div>
    </div>
  </div>
</section>
