<section class="description">
  <div class="description_wrapper">
    <div class="list_description">
      <div class="title_description">
        <p>Описание маршрута</p>
      </div>
      <div class="first_description">
        <ul class="reasons">
          <li>
            Город Гагра, Колоннада, ресторан "Гагрипш", Парк принца
            Ольденбурского;
          </li>
          <li>
            Смотровая площадка "Прощай Родина", "Чабгарский" карниз, Подвесной
            мост через реку "Бзыбь";
          </li>
          <li>
            Дегустация сыра, меда, вина, чачи (входит в стоимость экскурсии),
            Голубое Озеро, Юпшарский каньон ("Каменный мешок"), Озеро "Рица",
            Водопады "Девичьи и мужские слезы".
          </li>
        </ul>
      </div>
      <div class="next_first">
        <p class="next_title">Далее на выбор:</p>
        <div class="list_next">
          <ul>
            <li>
              Монастырь "Новый Афон", Новоафонская Пещера, "Рукотворный"
              водопад, храм "Симона Кананита", Лебединое озеро.
            </li>
            <li>Термальный источник в с. Приморское.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="slider_conteiner">
      <div class="slider_wrapper">
        <div class="slider_description" id="description_slider">
          <div class="item_slider">
            <img src="../img/descr_item1.png" alt="" />
          </div>
          <div class="item_slider">
            <img src="../img/descr_item1.png" alt="" />
          </div>
          <div class="item_slider">
            <img src="../img/descr_item1.png" alt="" />
          </div>
          <div class="item_slider">
            <img src="../img/descr_item1.png" alt="" />
          </div>
          <div class="item_slider">
            <img src="../img/descr_item1.png" alt="" />
          </div>
          <div class="item_slider">
            <img src="../img/descr_item1.png" alt="" />
          </div>
          <div class="item_slider">
            <img src="../img/descr_item1.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
