<footer>
    <div class="footer_content">
        <div class="img">
            <img src="./img/logo_color.png" alt="logo">
        </div>
        <div class="navs">
            <a href="#">Главная</a>
            <a href="#">Экскурсии</a>
            <a href="#">Личный кабинет</a>
        </div>
        <div class="contact_footer">
            <a href="#">
                <i class="fab fa-whatsapp"></i>
                +7 964 944 18 74
            </a>
            <a href="#">
                <i class="fab fa-telegram"></i>
                +7 918 919 98 28
            </a>
            <a href="#">
                <i class="fab fa-telegram"></i>
                Телеграм-бот PeroTravel
            </a>
        </div>
        <div class="social_footer">
            <div class="mail">
                <i class="fas fa-envelope"></i>
                <span>
                    office@perotravel.ru
                </span>
            </div>
            <div class="social">
                <a href="#"><i id="vk" class="fab fa-vk"></i></a>
                <a href="#"><i id="ins" class="fab fa-instagram"></i></a>
                <a href="#"><i id="fb" class="fab fa-facebook-f"></i></a>
            </div>
        </div>
    </div>
</footer>