<section class="galary">
    <div class="galary_title">
        <div class="title">
            <span>Галерея</span>
        </div>
        <div class="galary_more">
            <a href="#" class="more">Смотреть все</a>
        </div>
    </div>
    <div class="galary_content">
        <figure class="gallery__item gallery__item--1">
            <img src="./img/1.png" class="gallery__img" alt="Image 1">
        </figure>
        <figure class="gallery__item gallery__item--2">
            <img src="./img/2.png" class="gallery__img" alt="Image 2">
        </figure>
        <figure class="gallery__item gallery__item--3">
            <img src="./img/3.png" class="gallery__img" alt="Image 3">
        </figure>
        <figure class="gallery__item gallery__item--4">
            <img src="./img/4.png" class="gallery__img" alt="Image 4">
        </figure>
        <figure class="gallery__item gallery__item--5">
            <img src="./img/5.png" class="gallery__img" alt="Image 5">
        </figure>
        <figure class="gallery__item gallery__item--6">
            <img src="./img/6.png" class="gallery__img" alt="Image 6">
        </figure>
        <figure class="gallery__item gallery__item--7">
            <img src="./img/7.png" class="gallery__img" alt="Image 7">
        </figure>
        <figure class="gallery__item gallery__item--8">
            <img src="./img/8.png" class="gallery__img" alt="Image 8">
        </figure>
    </div>
</section>