<section class="itemlazy">
  <div class="itemlazy_content">
    <video id="bgpitemlazyvideo" autoplay muted loop>
      <source class="source" src="./video/video2.mp4" type="video/mp4" />
    </video>
    <div class="itemlazy_title">
      <span class="subtitle_item">Автобусный тур</span>
      <span class="title_item"
        >ЗОЛОТОЕ КОЛЬЦО АБХАЗИИ <br />
        (ИЗ АДЛЕРА)</span
      >
      <div class="btn_itemlazy">
        <a href="./excurse.html"
          ><button class="other" href="./ecxurses.html">
            К другим экскурсиям
            <i class="fas fa-long-arrow-alt-right"></i></button
        ></a>
        <div class="btn_like">
          <i class="far fa-heart"></i>
        </div>
      </div>
    </div>
  </div>
</section>
