<section class="iteminfoprice">
    <div class="iteminfoprice_content">
        <div class="left_content">
            <div class="title">
                <span>Описание экскурсии</span>
            </div>
            <div class="description">
                <p>Вас ждет путешествие по "Золотому Кольцу Абхазии" на Мерседес Спринтер (20 мест). По маршруту вас будет сопровождать профессиональный гид. Посадка на экскурсию осуществляется с вашего отеля или ближайшей автобусной остановки. Пересечение границы без пересадок. </p>
            </div>
        </div>
        <div class="right_content">
            <div class="up_age">
                <div class="yellow_circle"></div>
                <div class="main_info_up_age">
                    <p class="big">
                        <i class="fas fa-coins" aria-hidden="true"></i>
                        1 618 ₽
                    </p>
                    <p class="other">
                        Взрослый билет
                    </p>
                </div>
            </div>
            <div class="down_age">
                <div class="yellow_circle"></div>
                <div class="main_info_up_age">
                    <p class="big">
                        <i class="fas fa-coins" aria-hidden="true"></i>
                        1 412 ₽
                    </p>
                    <p class="other">
                        Детский билет
                    </p>
                </div>
            </div>
            <div class="price">
                <div class="yellow_circle"></div>
                <div class="main_info_up_age">
                    <p class="big">
                        <i class="fas fa-clock" aria-hidden="true"></i>
                        12 часов
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>