<section class="last_item">
    <div class="last_item_wrapper">
        <div class="img_content">
            <img src="./img/last_item.png" alt="">
        </div>
        <div class="form_content">
            <div class="title_form">
                <p>Забронировать тур</p>
            </div>
            <div class="form">
                <form action="" class="data">
                    <input id="country" type="search" value="Абхазия">
                    <input id="date" type="date" value="">
                    <input id="people" type="text" value="5">
                </form>
                <div class="btn">
                    <div class="btn_other">
                        <a href=""><button>Забронировать</button></a>
                    </div>
                    <div class="btn_like">
                        <i class="far fa-heart"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>