<section class="main_info">
  <div class="main_info_wrapper">
    <div class="title_main">
      <p>Важная информация</p>
    </div>
    <div class="main_info_content">
      <div class="left_block">
        <div class="title_block">
          <p>При пересечении границы (Россия-Абхазия) при себе иметь:</p>
        </div>
        <div class="item_block">
          <div class="icon_block">
            <div class="yellow_circle"><i class="fas fa-id-card-alt"></i></div>
          </div>
          <div class="text_item_block">
            <div class="text_title">
              <p>Паспорт гражданина РФ</p>
            </div>
            <div class="text">
              <p></p>
            </div>
          </div>
        </div>

        <div class="item_block">
          <div class="icon_block">
            <div class="yellow_circle"><i class="fas fa-id-card-alt"></i></div>
          </div>
          <div class="text_item_block">
            <div class="text_title">
              <p>Гражданам до 14 лет свидетельство о рождении</p>
            </div>
            <div class="text">
              <p>
                Несовершеннолетние дети пересекают границу в сопровождении
                родителей, в сопровождении законного представителя (нотариально
                заверенная доверенность с указанием страны вывоза ребенка).
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="right_block">
        <div class="item_right_block">
            <p>Иностранным гражданам въезд в Абхазию ограничен, кроме граждан Украины, республик ДНР и ЛНР.</p>
            <p class="warning_element">!</p>
        </div>
        <div class="item_right_block">
            <p>При возвращении из Абхазии в Россию сдавать ПЦР-тест не нужно, на карантин помещать не будут (Постановление Правительства РФ 1996-Р от 01.08.2020).</p>
            <p class="warning_element">!</p>
        </div>
      </div>
    </div>
  </div>
</section>
