<header>
  <div class="header_content">
    <div class="logo">
      <img src="./img/logo_white.png" alt="logo" />
    </div>
    <div class="navs">
      <nav>
        <a href="/"><span>Главная</span></a>
        <a href="./excurse.html"><span>Экскурсии</span></a>
        <a href="#"><span>Личный кабинет</span></a>
        <i id="mobile-btn" class="fas fa-bars"></i>
      </nav>
    </div>
  </div>
</header>
<div class="mobile_navs">
  <a href="/"><span>Главная</span></a>
  <a href="./excurse.html"><span>Экскурсии</span></a>
  <a href="#"><span>Личный кабинет</span></a>
</div>
