<section class="other">
  <div class="other_wrapper">
    <div class="title_other">
      <p>Дополнительные расходы (по желанию)</p>
    </div>
    <div class="other_content">
      <div class="other_info_item">
        <div class="yellow_circle"></div>
        <div class="main_info_up_age">
          <p class="big">
            <i class="fas fa-coins" aria-hidden="true"></i>
            500 ₽
          </p>
          <p class="other">Дача сталина</p>
        </div>
      </div>

      <div class="other_info_item">
        <div class="yellow_circle"></div>
        <div class="main_info_up_age">
          <p class="big">
            <i class="fas fa-coins" aria-hidden="true"></i>
            500 ₽
          </p>
          <p class="other">Молочный водопад</p>
        </div>
      </div>

      <div class="other_info_item">
        <div class="yellow_circle"></div>
        <div class="main_info_up_age">
          <p class="big">
            <i class="fas fa-coins" aria-hidden="true"></i>
            500 ₽
          </p>
          <p class="other">Новоафинская пещера</p>
        </div>
      </div>

      <div class="other_info_item">
        <div class="yellow_circle"></div>
        <div class="main_info_up_age">
          <p class="big">
            <i class="fas fa-coins" aria-hidden="true"></i>
            500 ₽
          </p>
          <p class="other">Термальный источник</p>
        </div>
      </div>

      <div class="other_info_item">
        <div class="yellow_circle"></div>
        <div class="main_info_up_age">
          <p class="big">
            <i class="fas fa-coins" aria-hidden="true"></i>
            200 ₽
          </p>
          <p class="other">Обед</p>
        </div>
      </div>
    </div>
  </div>
</section>
