<section class="videolazy">
  <div class="video_content">
    <video id="bgplayvideo" autoplay muted loop>
      <source class="source" src="./video/video2.mp4" type="video/mp4" />
    </video>
    <div class="info_video_content">
      <div class="slogo">
        <span class="travel">ПУТЕШЕСТВУЙ</span>
        <span class="without">вместе с</span>
        <span class="company_name">PERO TRAVEL</span>
        <a href="#" class="btn_lazy"
          >К экскурсиям <i class="fas fa-long-arrow-alt-right"></i
        ></a>
      </div>
      <div class="social">
        <a href="#"><i class="fab fa-vk"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
      </div>
    </div>
  </div>
  <div class="slider_video">
    <div class="slider">
      <div class="item" style="background-image: url(./img/bg_lazy1.png)">
        <i class="fas fa-play-circle"></i>
      </div>
      <div class="item" style="background-image: url(./img/bg_lazy2.png)"></div>
      <div class="item" style="background-image: url(./img/bg_lazy1.png)"></div>
      <div class="item" style="background-image: url(./img/bg_lazy2.png)"></div>
      <div class="item" style="background-image: url(./img/bg_lazy1.png)"></div>
    </div>
  </div>
</section>
