<section class="videolazy">
    <div class="video_content">
        <video autoplay muted loop>
            <source src="./video/video2.mp4" type="video/mp4" />
        </video>
        <div class="info_video_content">
            <div class="slogo">
                <span class="travel">ПУТЕШЕСТВУЙ</span>
                <span class="without">вместе с</span>
                <span class="company_name">PERO TRAVEL</span>
                <a href="#" class="btn_lazy">К экскурсиям <i class="fas fa-long-arrow-alt-right"></i></a>
            </div>
            <div class="social">
                <a href="#"><i class="fab fa-vk"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
            </div>
        </div>
    </div>
  <div class="slider_video">
    
  </div>
</section>
