// Main styles file

@import "./settings/colors";
@import "./settings/fonts";
@import "./settings/variables";

@import "./components/footer";
@import "./components/navbar";
@import "./components/videolazy";
@import "./components/popular";
@import "./components/aboutus";
@import "./components/excurse";
@import "./components/galary";


html, body{
    margin: 0;
    padding: 0;
    // overflow-x: hidden;
    position: relative;
}